.article .article__header{
    text-align: center;
    .article__title {
        margin-bottom: 0.2rem; /* always small */
    }
    .article__deck {
        margin-top: 0.2rem;
        font-size: 1.25rem;
        font-weight: 400;
        color: #444;
    }
    .article__meta {
        margin-top: 1.7rem; /* THIS creates meaningful separation */
        margin-bottom: 1.5rem;
        font-size: 0.95rem;
        color: #555;
    }

    .article__author,
    .article__date {
        margin: 0.1rem 0;
    }

    .article__intro {
        text-align: center;
    }

}
