.series-index .series-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .entry {
    margin: 1.5rem 0;
    .entry-link.no-pill{
      grid-template-columns: auto;
      .entry-title {
        grid-column: 1;
      }
      .entry-desc {
        grid-column: 1;
      }
    }
    .entry-link {
      display: grid;
      grid-template-columns: max-content 1fr;  /* [label] [title] */
      column-gap: 0.75rem;
      row-gap: 0.25rem;
      text-decoration: none;
      color: inherit;
      align-items: start;
      padding: .2rem;



      .entry-kind {
        grid-row: 1;
        grid-column: 1;
        font-size: 0.7rem;
        padding: 0.15rem 0.7rem 0.2rem;
        margin: 0.1rem 0 0;
        border-radius: 7px;
        border: 1px dotted #444;
        white-space: nowrap;
      }
      .entry-title {
        grid-row: 1;
        grid-column: 2;
        margin: 0;
        font-size: 1.1rem;
      }
      .entry-desc {
        grid-row: 2;
        grid-column: 1 / -1;
        margin: 0.4rem 0 0;
        :empty {
          display: none;
        }
      }
    }
    .entry-link:hover,
    .entry-link:focus-visible {
      background: #f7f7f7;
      outline: none;
    }
  }
}
