@use "../tokens" as *;

.post-header {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

.post-meta {
  color: $muted;
  margin-top: 0.5rem;
}

.post-content {
  margin-top: 1.5rem;

  p {
    margin-bottom: 1.1rem;
  }

  ul, ol {
    padding-left: 1.25rem;
    margin: 0 0 1.2rem;
  }
}
