@use "tokens" as *;

/* Container */
.series-nav {
    margin: 2rem 0;
    max-width: $container-max;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "prev next"
        "index index";
    row-gap: 0.75rem;
    column-gap: 1rem;
    align-items: center;


    .prev {
        grid-area: prev;
        justify-self: start;
    }

    .next {
        grid-area: next;
        justify-self: end;
    }

    .index {
        grid-area: index;
        justify-self: center;
        text-align: center;
    }

    a {
        display: inline-block;
        max-width: 100%;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #777;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a:hover {
        text-decoration: underline;
    }

}
