<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}

  <main class="trinity">
    <article class="trinity-entry entry-kind__{{ page.kind }}">
      <header class="article-header">

        <h1 class="trinity-entry__title">{{ page.title }}</h1>

        {% if page.deck %}
          <p class="trinity-entry__deck">
            {{ page.deck }}
          </p>
        {% endif %}
        <div class="trinity-entry__meta">
          {% if site.author.name %}
            <p class="trinity-entry__author">
              By {{ site.author.name }}
            </p>
          {% endif %}
          {% if page.date %}
            <p class="trinity-entry__date">
              <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%B %-d, %Y" }}
              </time>
            </p>
          {% endif %}
        </div>

        {% if page.kind == "case-study" %}
          {% include trinity/applies-note.html %}
        {% endif %}
      </header>

      <hr class="trinity-entry__divider" />

      <section class="trinity-entry__body">
        {{ content }}
      </section>
    </article>

    {% include trinity/footer.html %}
  </main>

  {% include footer.html %}
</body>
</html>
